<!DOCTYPE html>
<html ng-app="wink">

<head>
	<title>Wink Web Control</title>

	<script src="/bower/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower/angular/angular.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/bower/angular-animate/angular-animate.js"></script>
	<script src="/bower/angular-aria/angular-aria.js"></script>
	<script src="/bower/angular-messages/angular-messages.js"></script>
	<script src="/bower/angular-material/angular-material.js"></script>
	<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
	<!-- Temporary solution -->
	<link rel="stylesheet" href="/bower/angular-material/angular-material.css">


	<script src="/static/wink/wink.js"></script>
	<script src="/static/wink/controllers.js"></script>


	<!-- OLD STUFF-->
	<script type="text/javascript" src="/static/js/wink.js"></script>
	<script type="text/javascript" src="/static/js/dhtmlxslider.js"></script>
	<link rel="stylesheet" href="/static/js/dhtmlxslider_dhx_skyblue.css">
	<link rel="stylesheet" href="/static/js/dhtmlxslider_dhx_web.css">


	<body>

		<div ng-controller="NavCtrl" class="toolbar" ng-cloak="" flex style="height: 100%">
			<md-toolbar class="md-theme-indigo">
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Settings">
						<md-icon md-svg-icon="img/icons/menu.svg" ng-click="toggleLeft()"></md-icon>
					</md-button>
					<h2>
			                  <span> <a href="#">Wink Home</a></span>
			                </h2>

					<span flex=""></span>
					<md-button class="md-icon-button" aria-label="More">
						<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
					</md-button>

				</div>
			</md-toolbar>
			<section flex layout='row' style="height:100%;">
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
					<md-content layout-padding="" ng-controller="LeftCtrl">
						<md-button ng-click="close()" class="md-primary" hide-gt-md="">
							Close Sidenav Left
						</md-button>
						<p>
							<md-button class="md-primary" href="#settings">Settings Test</md-button>
						</p>
					</md-content>
				</md-sidenav>
				<md-content flex="" layout-padding="" id="infobox">
					<div layout="column" layout-fill="" layout-align="top center" ng-view>
						
					</div>
				</md-content>
			</section> 
		</div>

	</body>

</html>
